<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjc.seataat.storage.mapper.dao.StorageDOMapper">
  <resultMap id="BaseResultMap" type="com.xjc.seataat.storage.mapper.dataobject.StorageDO">
    <!--@mbg.generated-->
    <!--@Table `storage`-->
    <id column="id" property="id" />
    <result column="product_id" property="productId" />
    <result column="count" property="count" />
    <result column="money" property="money" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, product_id, `count`, money
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `storage`
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from `storage`
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xjc.seataat.storage.mapper.dataobject.StorageDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `storage` (product_id, `count`, money)
    values (#{productId}, #{count}, #{money})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xjc.seataat.storage.mapper.dataobject.StorageDO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `storage`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="count != null">
        `count`,
      </if>
      <if test="money != null">
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId},
      </if>
      <if test="count != null">
        #{count},
      </if>
      <if test="money != null">
        #{money},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjc.seataat.storage.mapper.dataobject.StorageDO">
    <!--@mbg.generated-->
    update `storage`
    <set>
      <if test="productId != null">
        product_id = #{productId},
      </if>
      <if test="count != null">
        `count` = #{count},
      </if>
      <if test="money != null">
        money = #{money},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjc.seataat.storage.mapper.dataobject.StorageDO">
    <!--@mbg.generated-->
    update `storage`
    set product_id = #{productId},
      `count` = #{count},
      money = #{money}
    where id = #{id}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-10-19-->
  <select id="selectByProductId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `storage`
    where product_id=#{productId}
  </select>
</mapper>